*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    position: relative;
    font-size: 13px;
    color: #2c323d;
}
body{
    margin: 0 auto 0 auto;
    background-color: grey;
    justify-content: center;
    min-width: 800px;
    max-width: 800px;
}
.two{
    background-color: rgb(255, 239, 193);
    border-bottom: 10px solid #582212;
}
h1{
    margin: 0;
    background-color: #582212;
    text-align: center;
    font-size: 24px;
    color: white;
}
h2{
    margin: 0;
    background-color: #582212;
    text-align: center;
    font-size: 24px;
    color: white;
}
ul{
    padding: 10px 50px;
    margin: 0;
    line-height: 2;
}
ol{
    text-align: justify;
    text-justify: inter-word;
    padding: 10px 50px;
    margin: 0;
    line-height: 2;
}
p{
    padding: 10px 10px 0 10px;
    margin: 0;
    line-height: 2;
}
.column{
    display: flex;
}
.biryani{
    display: flex;
}
img{
    margin: auto auto;
    padding: 20px;
}